/* Globale styles her */
@font-face {
	font-family: cabin-bold;
	src: url(../assets/fonts/Cabin-Bold.ttf);
}
@font-face {
	font-family: cabin-semibold;
	src: url(../assets/fonts/Cabin-SemiBold.ttf);
}
@font-face {
	font-family: cabin-regular;
	src: url(../assets/fonts/Cabin-Regular.ttf);
}
@font-face {
	font-family: lato-regular;
	src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
	font-family: lato-bold;
	src: url(../assets/fonts/Lato-Bold.ttf);
}

body {
	h1 {
		font-size: var(--step-5);
		font-family: cabin-bold;
		color: var(--color-text);
	}

	h2 {
		font-size: var(--step-4);
		font-family: cabin-bold;
		color: var(--color-text);
	}

	h3 {
		font-size: var(--step-3);
		font-family: cabin-bold;
		color: var(--color-text);
	}

	h4 {
		font-size: var(--step-2);
		font-family: cabin-bold;
		color: var(--color-text);
	}

	h5 {
		font-size: var(--step-1);
		font-family: lato-regular;
		color: var(--color-text-muted);
	}

	p {
		font-size: var(--step-0);
		font-family: lato-regular;
		color: var(--color-text-muted);
	}

	p.lato-regular-16 {
		font-size: var(--step--1);
		font-family: lato-regular;
		color: var(--color-text-muted);
	}

	li {
		font-size: var(--step--1);
		font-family: lato-regular;
		color: var(--color-text-muted);
	}

	button,
	a {
		font-size: var(--step-0);
		font-family: lato-bold;
		color: var(--color-text);
		text-decoration: none;
	}

	input {
		font-size: var(--step-0);
		font-family: lato-regular;
		color: var(--color-text-muted);
	}
}
main,
header,
footer {
	display: grid;
	grid-template-columns: 1fr minmax(0, 1200px) 1fr;

	> * {
		grid-column: 2;
	}
}
.full-width {
	grid-column: 1/-1;
	padding-inline: max(1rem, 50% - 1200px / 2);
}

.yellow-text {
	color: var(--color-action);
}
