---
import Layout from "@layouts/Layout.astro";
import OurVision from "@components/OurVision.astro";
import TeamData from "@data/employees.json";

import Employees from "@components/TeamMap.astro";
---

<Layout>
    <article class="full-width banner">
    <p class="lato-regular-16">ABOUT</p>
    <h1 class="underline">
      <span class="underline_right">Igniting Innovation</span>
    </h1>
    <p class="lato-regular-16">
     Our strength lies in the collaboration between our talented teams and esteemed clients. We cultivate a workplace that champions innovation, promotes peak performance, and guarantees client satisfaction.
    </p>
  </article>
  <OurVision/>

   <Employees data={TeamData} />
</Layout>