---
const { href } = Astro.props;
const { theme = "default" } = Astro.props;
---

<a href={href} data-surface={theme}><slot /></a>

<style>
  a[data-surface="default"] {
    display: inline-block;
    border-radius: var(--border-42);
    color: var(--color-text);
    padding: var(--space-s) var(--space-l);
    background-color: var(--color-action);
    cursor: pointer;
    border: 3px solid var(--color-action);
  }

  a[data-surface="white"] {
    background-color: var(--color-surface-secondary);
    border-radius: var(--border-42);
    color: var(--color-text);
    padding: var(--space-s) var(--space-l);
    cursor: pointer;
    border: 3px solid var(--color-surface-secondary);
  }

  a[data-surface="dark"] {
    display: inline-block;
    background-color: var(--color-ui-primary);
    color: var(--color-surface-secondary);
    border-radius: var(--border-42);
    padding: var(--space-s) var(--space-l);
    cursor: pointer;
    border: 3px solid var(--color-surface-secondary);
  }

  a[data-surface="login"] {
    background-color: var(--color-surface-secondary);
    border-radius: var(--border-42);
    color: var(--color-text);
    padding: 5px var(--space-xl);
    cursor: pointer;
    border: 3px solid var(--color-surface-secondary);
    font-family: lato-regular;
  }
</style>
