---
import "@styles/main.css";
---

<nav class="full">
    <ul>
        <li>LOGO</li>
    </ul>
    <ul>
        <li>Tekst 1</li>
        <li>Tekst 2</li>
        <li>Tekst 3</li>
    </ul>
    <button>Login</button>
</nav>
<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>

<style>
    @layer components {
    nav {
        background-color: aqua;
    }
  }
</style>