---
import { Image } from "astro:assets";
import Services from "./Services.astro";
import CEOImage from "@assets/images/ceo.webp";
import CTA from "@components/CtaVariant.astro";
---

<article class="hero">
  <section class="hero-content">
    <div>
      <h1>
        <div class="underline">
          <span class="underline_left">Empowering</span>
        </div> Your Business Growth
      </h1>
      <p>
        Discover tailored strategies and expert insights to take your business
        to the next level. Let us help you navigate challenges and achieve
        sustainable success.
      </p>
    </div>
    <div class="CTA_section">
      <CTA>Book a Meeting</CTA>
      <CTA theme="dark">Learn More</CTA>
    </div>
  </section>
  <section class="CEO-img">
    <Image src={CEOImage} alt="CEO" />
  </section>
</article>

<Services />

<style>
  /* Styles her */
  @layer components {
    .hero {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      padding-inline: max(1rem, 50% - 1200px / 2);
      padding-bottom: var(--space-l);
      background-color: var(--color-ui-primary);
      h1 {
        color: var(--color-neutrals-100);
        max-width: 16ch;
      }
      p {
        max-width: 550px;
      }
      /*   .hero-content {
        grid-column: 2/3;
        margin: var(--space-s);
      } */
    }
    .CEO-img {
      object-fit: contain;
      grid-column: 3/-1;
    }
    .hero-content {
      grid-column: 2/3;
      margin: var(--space-s);
      --grid-size: 50px;
      --grid-color: hsl(from var(--color-action) h s l / 0.2);
      background:
      radial-gradient(circle at 80% 50%, #0000, var(--color-ui-primary) 50%),
      conic-gradient(from 180deg at 1px 1px, var(--grid-color) 75%, #0000 0) -1px -1px / var(--grid-size) var(--grid-size);
    }
    @media (width < 700px) {
      .CEO-img {
        display: none;
      }
      .hero-content {
        grid-column: 1/-1;
      }
    }
  }
</style>
