---
import DynamicIcon from "@helpers/DynamicIcon.astro";
import ImageAbout from "@assets/images/aboutIMG.png";
import { Image } from "astro:assets";
---

<article class="ourvision-article">
	<section class="ourvision-content">
		<p>OUR VISION</p>
		<h2 class="ideas-to-reality">Turn your ideas into reality.</h2>
		<p>
			Capitalize on low hanging fruit to identify a ballpark value added
			activity beta test. Override the digital divide with additional from
			DevOps.
		</p>
		<span
			><DynamicIcon
				name="checkmark"
				class="checkmark"
				alt="checkmark icon"
			/>
			<p>
				Collaborate to build actionable strategies that drive
				sustainable growth and deliver tangible outcomes.
			</p></span
		>
		<span
			><DynamicIcon
				name="checkmark"
				class="checkmark"
				alt="checkmark icon"
			/>
			<p>
				Identify opportunities to optimize processes and implement
				impactful solutions with measurable results.
			</p></span
		>
	</section>
	<section>
		<figure>
			<Image
				src={ImageAbout}
				alt="three people sitting at a table, working on a projekt"
			/>
		</figure>
	</section>
</article>
<article class="flex-wrap">
	<section class="flex-column">
		<h2>1128+</h2>
		<p>Successful Work</p>
	</section>
	<section class="flex-column">
		<h2>908+</h2>
		<p>Team members</p>
	</section>
	<section class="flex-column">
		<h2>258+</h2>
		<p>Happy Customers</p>
	</section>
	<section class="flex-column">
		<h2>564+</h2>
		<p>Creative Ideas</p>
	</section>
</article>
<style>
	@layer components {
		.ideas-to-reality {
			max-width: 10ch;
		}
		.flex-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: var(--space-l);
			margin-right: var(--space-l);
		}
		.flex-wrap {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-bottom: 4rlh;
		}
		article {
			margin-top: 4rlh;
			display: grid;
			grid-template-columns: subgrid;
			gap: 1lh;
			span {
				display: flex;
				margin-top: var(--space-s);
				p {
					margin-left: var(--space-s);
				}
			}
			.ourvision-content {
				grid-column: 1/2;
				margin-left: var(--space-l);
				svg {
					min-width: 40px;
					color: var(--color-ui-secondary-alternative);
				}
			}
		}
		figure {
			grid-column: 2/3;
			position: relative;
			isolation: isolate;
			align-content: center;
			margin-top: var(--space-l);
			&::before {
				content: "";
				position: absolute;
				top: -2rlh;
				right: -1rlh;
				height: 160px;
				width: 180px;
				background-color: var(--color-ui-secondary);
				z-index: -1;
				border-radius: var(--border-20);
			}
		}
		@media (width < 700px) {
			.ourvision-article {
				display: grid;
				grid-template-columns: 1fr;
			}
		}
	}
</style>
