---
import DynamicIcon from "@helpers/DynamicIcon.astro";
import financialProjections from "@data/financialProjections.json";
---

<ul class="full-width">
  {
    financialProjections.values.map((card) => (
      <li>
        <DynamicIcon name={card.icon} class="financial-icon" />
        <h3>{card.title}</h3>
        <p>{card.description}</p>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {
      display: flex;
      list-style: none;
      gap: 20px;
      padding-bottom: 20px;
      overflow-x: auto;
      margin-bottom: 2rlh;

      > * {
        max-width: 350px;
        display: block;
        background-color: var(--color-surface-tertiary);
        padding: var(--space-m);
        border-radius: var(--border-20);
        flex-shrink: 0;
      }
      .financial-icon {
        color: var(--color-text);
        margin-bottom: var(--space-s);
      }
    }
  }
</style>
