---
import "../styles/main.css";
import CtaVariant from "@components/CtaVariant.astro";
---

<header>
	<div class="grid">
		<h4>Ask<span class="yellow-text">Experts</span></h4>

		<div class="menu">
			<a href="#">Home</a>
			<a href="/case">Case Study</a>
			<a href="">Team</a>
			<a href="">About</a>
		</div>

		<div class="button">
			<CtaVariant theme="login">Login</CtaVariant>
		</div>
	</div>
</header>

<style>
	@layer components {
		header {
			background-color: #030712;
			padding: var(--space-l) 0px;
		}

		.grid {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
		}

		ul {
			list-style: none;
		}

		h4 {
			color: var(--color-on-ui-primary);
			grid-column: 1;
		}

		.menu {
			grid-column: 2;
			align-self: center;
			a {
				color: var(--color-on-ui-primary);
				font-size: var(--step-0);
				font-family: lato-regular;
				margin-right: var(--space-s);
			}
		}

		.button {
			grid-column: 3;
			justify-self: end;
			align-self: center;
		}
	}
</style>
